{% import 'macros/task_macros.html.twig' as taskMacros %}

<div class="content content-flex">
    <div id="tasksCurrentContainer" data-listing-type="{{ listingType }}" class="content-flex-item">
        {{ taskMacros.taskListingCurrent(tasksCurrent) }}
    </div>
    <div id="tasksNextContainer" data-listing-type="{{ listingType }}" class="content-flex-item">
        {{ taskMacros.taskListingNext(tasksNext) }}
    </div>
</div>