<dialog id="searchModal" data-search-target="modal">
    <div class="modal-header">
        <h2>Vyhledávání</h2>
        <button class="close-button" type="button" data-action="search#close">
            <i class="fa-solid fa-times"></i>
        </button>
    </div>
    <form action="{{ path('app_search') }}">
        <input class="form-control mr-sm-2" type="search" placeholder="What do you searching for?..." aria-label="Search" name="searchTerm" value="{{ searchTerm ?? '' }}">
        <button class="btn" type="submit">Search</button>
    </form>
</dialog>